/*
 * head
 */
.topbar
{
	height: 50px;
	background: #FF5809;	
}

.logout,.login
{
	 position:absolute;
	right:5px;
	top:30px;
	color:#34495E; 
	font-size:15px;
}
/*
 * footer
 */
.footer
{
	background: #FF5809;
	height:100px;
	clear:left;

}

.contact
{

        width: 250px;
        margin: 0 auto;
        padding: 13px 0;
        color:#34495E;

}
.source
{
	width: 200px;
	margin: 0 auto;
	padding: 13px 0;
	font-size:13px;
	color:#34495E;
}
.source >a
{
        color:#34495E;
}

/*
 * content
 */


.group
{
        max-width: 2000px;
	margin: 0 auto;
}



.list
{
	width:350px;
	float:left;
}

.list1
{
}


.list2
{
}

.list3
{
}

.list >li
{
	padding:6px;
}
.from
{
	font-size: 8pt;
	color:#828282;
}

.song
{
	padding:20px;
}

.singer
{

	padding-left: 42px;
	font-size: 3px;
	color:#828282;
}

.arrow
{
	background: url(/images/arrow.png) no-repeat;
	top: -12px;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.score
{
	color:	#828282;
}

/*
 * chat box
 */


#chatbox
{
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:370px;
	width:430px;
	border:1px solid #ACD8F0;
	overflow:auto; 
}
#usermsg
{

	margin-left: 35px;

	width:395px;
	border:1px solid #ACD8F0; 
}
 
#submit
{
	 width: 60px; 
}


#chat
{
	float:left;
	margin:0 auto;
	padding-bottom:25px;
	background:#EBF4FB;
	width:504px;
	border:1px solid #ACD8F0; 
}
.item_date, .item_ip
{
        font-size: 5px;
        color:#828282;

}

.slide-out-div 
{
	padding: 0px;
	padding-right: 5px;
	width: 550px;
	background: #428bca;
	border: 1px solid #29216d;
}

.item
{
	padding: 2px; padding-top:5px; padding-bottom:5px; border-bottom:1px solid #cccccc;
	
}

.add
{
	float:left;

}


















